@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans;
  }
}

/* Universal Hide Scrollbar Utility */
.no-scrollbar::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.no-scrollbar,
.hide-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
